@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-zinc-200;
  }
}

:root {
  --accent-1: rgb(255, 234, 0);
  --accent-2: rgb(255, 255, 143);
  --gradient: linear-gradient(65deg, var(--accent-1), var(--accent-2));
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 1);

  background-image: url('/media/bg.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url('/media/bg_mobile.png');
    background-size: 100vh;
    background-position: unset;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}
